@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

body {
  color: #fff;
  font-family: 'Gloock', serif;
}

ul li {
  list-style: none;
}

.screen {
  height: 40px;
  width: 100%;
  background-color: yellowgreen;
  text-align: center;
  line-height: 40px;
  color: #fff;
  border-radius: 4px;
}

.redBox::before {
  display: inline-block;
  content: '';
  height: 20px;
  width: 20px;
  background-color: red;
  margin-right: 4px;
}

.orangeBox::before {
  display: inline-block;
  content: '';
  height: 20px;
  width: 20px;
  background-color: orange;
  margin-right: 4px;
}

.whiteBox::before {
  display: inline-block;
  content: '';
  height: 20px;
  width: 20px;
  border: 1px solid #000;
  background-color: white;
  margin-right: 4px;
}

.seatContainer button {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #000;
  background-color: #fff;
  margin: 6px;
}

.informationTable thead th,
.informationTable tbody td {
  border: 1px solid #fff;
  border-collapse: collapse;
  background-color: #405cf5;
}

.informationTable td {
  padding: 6px 0;
  white-space: pre;
}

.informationTable button {
  border: 1px solid red;
  border-radius: 4px;
  background-color: blue;
  color: #fff;
}

.informationTable button:hover {
  background-color: red;
  color: #fff;
}

.seatContainer .active {
  background-color: orange;
  color: #fff;
  border: none;
}

.seatContainer .selected {
  background-color: red;
  color: #fff;
  border: none;
}

.totalBtn {
  border: none;
  width: 100%;
  font-size: 24px;
  padding: 4px 0;
  border-radius: 4px;
  background-color: #405cf5;
  color: #fff;
}

.totalBtn:hover {
  background-color: #268cdd;
}

.seatContainer button:disabled {
  opacity: 0.9;
}

body {
  background-image: url(../public/background.jpg);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(80%);
}

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
